* {
    font-family: 'Andale Mono', AndaleMono, monospace;
    font-variant: small-caps;
    /*border:1px dashed red;*/
}
.text{
    width:1%;
    margin-left: 1%;
    margin-right: 1%;
}
    .text h2{
        font-family: 'Andale Mono', AndaleMono, monospace;
        text-align: top;
        word-wrap: break-word;
    }
    .text span{
        font-weight: bolder;
        color: #1CFF06;
    }
    h4 span{
        font-weight: bolder;
        color: #1CFF06;
    }
.view {
    width: 45%;
    min-width: 50%;
    height: 700px;
    max-height: 60%;
    min-height: 60%;
    float: left;
}
.code{
    width:95%;
    height:100%;
    max-height: 100%;
    min-height: 100%;
    overflow: hidden;
    background-color: black;
    border: 1px solid #1CFF06;
}
.text, .code {
    display: inline-block;
}
.form-inline button{
    background-color: black;
    color: #1CFF06;
    border-color: #1CFF06;
}
    .form-inline button:hover{
        background-color: #1CFF06;
        color: black;
        border-color: black;
    }
.home button{
    background-color: black;
    color: #1CFF06;
    border-color: #1CFF06;
}
    .home button:hover{
        background-color: blue;
        color: white;
        border-color: blue;
    }
.form-inline, .home {
    display: inline-block;
}
