* {
    font-family: 'Andale Mono', AndaleMono, monospace;
    font-variant: small-caps;
    /*border:1px dashed red;*/
}
.text{
    width:1%;
    margin-left: .5%;
    margin-right: .5%;
}
    .text h1{
        font-family: 'Andale Mono', AndaleMono, monospace;
        text-align: top;
        word-wrap: break-word;
    }
    .text span{
        font-weight: bolder;
        color: #1CFF06;
    }
    h4 span{
        font-weight: bolder;
        color: #1CFF06;
    }
.code{
    width:750px;
    height:max-height;
    max-height: 800px;
    min-height: 800px;
    overflow: auto;
    background-color: black;
    border: 1px solid #1CFF06;
}
p {
    color: #1CFF06;
}
.view{
    position:fixed;
}
.home button{
    background-color: black;
    color: #1CFF06;
    border-color: #1CFF06;
}
    .home button:hover{
        background-color: blue;
        color: white;
        border-color: blue;
    }
.pill button{
    background-color: black;
    color: #1CFF06;
    border-color: #1CFF06;
}
    .pill button:hover{
        background-color: red;
        color: white;
        border-color: red;
    }
.pill, .home{
    display: inline-block;
}
.text, .code, .view{
    display: inline-block;
}
.form-inline{
    width:300px;
    position: relative;
    top: -100px;
    margin-left: 5px;
}
    .form-inline button{
        background-color: black;
        color: #1CFF06;
        border-color: #1CFF06;
    }
        .form-inline button:hover{
            background-color: #1CFF06;
            color: black;
            border-color: black;
        }
.code, .form-inline{
    display: inline-block;
}
